.page {
	max-width: 500px;
	margin: 0 auto;
}

h1 {
	font-size: 5vw;
}

p,a,li {
	font-size: 1.5vw;
}

@media only screen and (max-width: 300px) {
  h1 {
	  font-size: 10vw;
  }
  
  .page {
	max-width: 50px;
	margin: 0 auto;
	padding: 10px;
}
  
  
  p, a, li {
	  font-size: 5vw;
  }
}